

<div class="background">

<p class="center" >
commentsコントロールのShowアクションが呼び出されました。
</p>
<div><%= link_to "books_show",books_show_path %></div>
<div><%= link_to "Home",root_path %></div>
</div>

<table>
  <tr>
    <th>title</th>
    <th>text</th>
    <th colspan="3"></th>
  </tr>
  <% @comments.each do |comment| %>
  <tr>
    <td><%= comment.title %></td>
    <td><%= comment.body %></td>
  </tr>
  <% end %>
</table>