<h1>books#new</h1>
<div class="center" >本を投稿</div>
<%= form_with model: @books, local: true do |form|%>
<div class="center" >
<div class=> 
本のタイトル
<% form.label :title %><br>
<%= form.text_field :title%>
</div>

<div class=> 
内容
<% form.label :body %><br>
<%= form.text_area :body %>
</div>
</div>


<div class="center"> 
<%= form.submit %>
</div>


<% end %>
